.preloader
  .preloader__wrapper
    .preloader__title.abab
      .preloader__title__text.title1(data-text="A.P.O.D." contenteditable="true")="A.P.O.D."
      .gradient 
      .spotlight
    .preloader__icon__dummy
      .dummy__content
    .preloader__title.baba
      .preloader__title__text.title2(data-text="0%" contenteditable="true")="0%"
      .gradient 
      .spotlight
  .preloader__notification 
    p.preloader__notification__text="...loading Assets: "
      span.preloader__notification__assetname