block variables

doctype html
html(class=isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Document

    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body 
    include ./partials/preloader.pug
    include ./pages/home.pug
    include ./pages/about.pug
    include ./pages/explore.pug
    each pod in pods
      include ./pages/detail.pug
    include ./partials/navigation.pug
    include ./partials/footer.pug
    include ./partials/icon.pug
    include ./partials/overlay.pug
    #canvas

    script.
      window.TEXTURE_ASSETS = !{JSON.stringify(textures).replace(/<\//g, "<\\/")}

    //- script.
    //-   window.SOUND_ASSETS = !{JSON.stringify(sounds).replace(/<\//g, "<\\/")}

    script(type="module" src="/app/app.js")