.explore {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.explore__wrapper {
  @extend %cover;
  overflow: hidden;
  @extend %center;
}

.explore__gallery {
  position: absolute;
  width: 28vw;
  height: 28vw;
  max-width: 60vh;
  max-height: 60vh;
  min-width: 28vh;
  min-height: 28vh;
  @include media("<phone") {
    width: 45vw;
    height: 45vw;
    max-width: 80vh;
    max-height: 80vh;
  }
}

.explore__gap {
  width: 2vw;
  height: 2vw;
  @include media("<phone") {
    width: 1vw;
    height: 0.5vw;
  }
}

.explore__gallery__link {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(196, 20, 20);
  -webkit-user-drag: none;

  &--active {
    z-index: 100;
  }

  &--dragging {
    pointer-events: none;
  }
}

.explore__gallery__media {
  width: 100%;
  height: 100%;
  position: relative;
  visibility: hidden;
}

.explore__titles {
  position: absolute;
  font-size: 5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
}

.explore__titles__item {
  display: inline-block;
}
