.home {
  @extend %center;
  @extend %page;

  overflow: hidden;
  text-align: center;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  @extend %cover;
  @extend %center;
}

.home__particles {
  width: 30vw;
  min-width: 25rem;

  @include media("<phone") {
    width: 55vw;
    min-width: 0;
  }

  visibility: hidden;
}

.home__logo {
  width: 100%;
}
