.home {
  @extend %center;
  @extend %page;

  overflow: hidden;
  text-align: center;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.home__title {
  font-size: 20rem;
  margin: 5rem auto;
  // -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  // -webkit-text-stroke-width: 0.2rem;
  // -webkit-text-stroke-color: rgb(255, 255, 255);
  // @include textGlitch(20, 4px);
  // @include noiseZoom()
}

.home__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.home__nav__item {
  text-decoration: none;
  color: inherit;
}

.home__nav__item__text {
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 8rem;
}
