.snippets {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.snippets__wrapper {
  @extend %cover;
  overflow: hidden;
  @extend %center;
}

.snippets__gallery {
  position: absolute;
  width: 28vw;
  height: 28vw;
  max-width: calc(var(--vh) * 60);
  max-height: calc(var(--vh) * 60);
  min-width: calc(var(--vh) * 28);
  min-height: calc(var(--vh) * 28);
  @include media("<phone") {
    width: 45vw;
    height: 45vw;
    max-width: calc(var(--vh) * 80);
    max-height: calc(var(--vh) * 80);
  }
}

.snippets__gap {
  width: 2vw;
  height: 2vw;
  @include media("<phone") {
    width: 1vw;
    height: 0.5vw;
  }
}

.snippets__gallery__link {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;

  &--active {
    z-index: 100;
  }

  &--dragging {
    pointer-events: none;
  }
}

.snippets__gallery__media {
  width: 100%;
  height: 100%;
  position: relative;
  visibility: hidden;
}

.snippets__titles {
  position: absolute;
  font-size: 5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
}

.snippets__titles__item {
  display: inline-block;
}
