*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  background: #111111;
  font-size: 16px;
  line-height: 1;
  position: fixed;
  overflow: hidden;
}

.overlay {
  pointer-events: none;
  @extend %cover;
  z-index: 100;
}

.overlay__top,
.overlay__bottom {
  height: 10%;
  width: 100%;
  background: rgb(0, 0, 0);
  position: absolute;
}
.overlay__top {
  top: 0;
}
.overlay__bottom {
  bottom: 0;
}

#canvas {
  z-index: z("canvas");
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 80%;
  top: 10%;
}
