.home
  .home__wrapper
    .home__title(data-text="Space Stuff")="APOD SNIPPETS"
    
    .home__nav 
      a.home__nav__item(href="/explore")
        .home__nav__item__text="Explore"
      a.home__nav__item(href="/about")
        .home__nav__item__text="About"